<h1>Crypto Market Snapshot</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody> 
        <% @markets.each do |market| %>
            <% market.cryptos.each do |crypto| %>
                <tr><th><%= link_to crypto.name, crypto_path(crypto) %></th>
                <td><%= crypto.symbol %></td>
                <td><%= crypto.price %></td>
            <% end %></tr>
        <% end %>
    </tbody>
