/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 
 img{
     border: 5px solid #555;
     margin: 20px;
    }

 .text-center{
     text-align: center;
     display: block;
     margin: 0 auto;
     width: 15%;
 }

 .text-center a {
    color:#665544;
    font-size: 20px;
}

.text-center a:hover, .text-center a.current {
    color: #000000;
}

 
 h1 {
     text-align: center;
 }

 h3 {
    text-align: center;
}

#header {
    padding: 10px;
    margin: 50px;
    border: 5px solid gray;
    background-color: lightyellow
}

body {
    background-color: lightblue;
    
} 

* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: left; 
}
#nav {
    font-size: 20px;
    background-color: gold;
    border: 5px solid gray;
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
       
}


ul {
    text-align: center;
}
li {
    display: inline;
    margin-right: 70px;
    padding-top: 35px;
}

#nav li a {
    color:#665544;
}

#nav li a:link {
    text-decoration: none;
    font-size: 20px;
    
}

#nav li a:hover, nav li a.current {
    color: #000000;
}

table {
    background-color: lightyellow;
    border: 5px solid gray;
}

.container {

    background-color: gold;
 
}

.flash-message {
    margin: 100px;
}

