<h1>What Are Users Trading?</h1>
<h3>The Last 50 Trades</h3>
    <% @trades.each do |trade| %>
        <%= trade.quantity %>
        <%= trade.crypto.name %> on
        <%= date_time(trade) %>
    <% end %>

    
    
    
