<h1>What Our Users are Trading</h1>
<h3>My Crypto Portfolio's last 10 trades:</h3>
    <% @trades.each do |trade| %>
        <%= trade.quantity %>
        <%= trade.crypto.name %> on
        <%= date_time(trade) %>
    <% end %>

    
    
    
