<h1>Last 10 My Crypto Portfolio Trades</h1>
<h3>See what others are trading</h3>
    <% @trades.each do |trade| %>
        <%= trade.quantity %>
        <%= trade.crypto.name %> on
        <%= date_time(trade) %>
    <% end %>

    
    
    
